<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.commercenetworks.weichertworks" version = "1.0">

  <name>Weichert Works</name>

  <description>
    Weichert Works Realty App
  </description>

  <author href = "http://commercenetworks.com" email = "support@commercenetworks.com">
    Michael Reutebuch
  </author>

  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="detect-data-types" value="false" />
  

  <icon src = "res/icon/ios/apple-touch-icon.png" gap:platform = "ios" gap:qualifier = ""/>
  <icon src = "res/icon/ios/apple-touch-icon-57x57.png" gap:platform = "ios" width = "57" height = "57" />
  <icon src = "res/icon/ios/apple-touch-icon-72x72.png" gap:platform = "ios" width = "72" height = "72" />
  <icon src = "res/icon/ios/apple-touch-icon-114x114.png" gap:platform = "ios" width = "114" height = "114" />
  <icon src = "res/icon/ios/apple-touch-icon-144x144.png" gap:platform = "ios" width = "144" height = "144" />

</widget>